@import 'variables/all';

body {
  font-family: 'Roboto Condensed';
}

.custom-container {
  @media (min-width: 1325px) {
    max-width: 1300px;
    margin: 0 auto;
  }
}

hr {
  border-color: #f4f5f7;
}

p {
  margin: 0;
}

a:hover {
  color: black;
}

.card-noborder {
  border: 0px;
}

.no-border-radius {
  border-radius: 0;
}

.text-lg {
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
}

.text-xs {
  font-size: 13px;
}

.text-base {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

.debate-card {
  border-top: 4px solid $gray;
  border-bottom: 4px solid $gray;
}

.custom-img {
  width: 100%;
  height: auto;
}

.signup-img {
  width: 30px;
  height: 30px;
}

.signup-btn {
  border: 0;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 60px;
}

@import 'utilities/all';
@import 'components/all';
