body {
    font-family: "Roboto Condensed";
}

.custom-nav {
    background-color: #f72210;
}

.custom-icons {
    margin: 0 5px;
}

.custom-btn {
    font-size: small !important;
    background-color: #ffe400 !important;
    padding-right: 12px;
    padding-left: 12px;
    @media (min-width: 992px) {
        font-size: 16px !important;
    }
}

.custom-header-wrapper {
    padding-top:10px;
    padding-bottom: 10px;
    > * + * { 
        border-left: 1px solid #d9d9d9;
        padding-left: 12px;
    } 
}

.custom-link {
    color: black;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    &:hover {
        color: #f72210;
        text-decoration: none;
    }
}

.custom-header-nav-wrapper {
    margin-right: 160px;
}

.custom-input {
    border: 1px solid transparent;
    outline: none;
    max-width: 70px;
    width: 100%;
}

.custom-search-icon {
    top:0;
    bottom:0;
    right: 0;
}